// Architectures
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

// Deployment
TARGETED_DEVICE_FAMILY = 1,2

// Packaging
INFOPLIST_FILE = SwiftProtobufAlias.xcodeproj/Protobuf_Info.plist
PRODUCT_BUNDLE_IDENTIFIER = org.swift.protobuf.SwiftProtobufAlias
PRODUCT_MODULE_NAME = SwiftProtobufAlias
PRODUCT_NAME = SwiftProtobufAlias
